# http://editorconfig.org/

# use the top most editor config file
root = true

[*]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf
max_line_length = 80

[*.{css,json}]
indent_size = 2
