.comment-container {
  margin-top: 5px;
  display: flex;
  flex-flow: row;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #c3c3c3;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 100%;
  min-width: 400px;
}

.comment-container > div:nth-child(3) {
  display: flex;
  flex-flow: row;
}

.username-comment {
  align-items: flex-start;
  color: black;
  font-weight: bold;
  font-size: medium;
  padding-right: 5px;
  /*background-color: red;*/
}

.name-comment {
  align-items: start;
  font-weight: bold;
  font-size: medium;
}

.profile1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.comment {
  color: black;
  flex-wrap: wrap;
  padding-top: 3px;
  font-size: small;
  padding-left: 3px;
  display: flex;
}
