.title-post {
  color: white;
}

/*.comment-container {*/
/*    width: 200px;*/
/*}*/

.commentBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  padding-top: 10px;
  /*align-items: stretch;*/
}

input.comment-form {
  color: black;
  flex-grow: 1;
  border: 2px solid grey;
  border-radius: 1rex;
}
