.container {
    background-color: rgb(168, 178, 187);
}
.private-key {
    color: white;
}

.login {
    position: relative;
    float: right;
    margin-right: 10px;
}

.profile1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
 .borders {
    border-style: outset;

 }
.username {
    color: white;
    align-content: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
    margin-top: 3%;
}

.dib { display: inline-block }

.pad1 { padding: 2px }


.posfix {position: fixed;}
.possti {
    position: fixed;
    display: block;
    width: 100%;
    top: 0px;
}
.poswsti {position: -webkit-sticky;}

.login-menu {
    size: 200px;
    background-color: black;
    padding: 150px;
}
.logout-button{
    position: relative;
    top: 10px;
    float: right;
    right: 5px;
}