/*.container {*/
/*    background-color: #61dafb;*/
/*    max-width: 100%;*/
/*}*/
/*.private-key {*/
/*    color: white;*/
/*}*/

/*.login {*/
/*    position: relative;*/
/*    float: right;*/
/*    margin-right: 10px;*/
/*}*/

/*!*.profile1 {*!*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*}*/
/* .borders {*/
/*    border-style: outset;*/
/* }*/

/*.username {*/
/*    color: white;*/
/*    align-content: center;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    margin-left: 2%;*/
/*    margin-top: 3%;*/
/*}*/

/*.dib { display: inline-block }*/

/*.pad1 { padding: 2px }*/

/*.posfix {position: fixed;}*/

/*.possti {*/
/*    position: fixed;*/
/*    display: block;*/
/*    width: 100%;*/
/*    top: 0px;*/
/*}*/

/*.login-menu {*/
/*    size: 200px;*/
/*    background-color: black;*/
/*    padding: 150px;*/
/*}*/

/*.logout-button{*/
/*    position: relative;*/
/*    top: 10px;*/
/*    float: right;*/
/*    right: 5px;*/
/*}*/

.headerClasses {
  z-index: 100;
}

.upload-btn-wrapper {
  position: relative;
  display: flex;
}

.upload-btn-wrapper::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgb(243, 244, 245);
  z-index: -1;
}

.upload-button {
  background-color: transparent;
  padding: 15px;
  z-index: 1;
}
